body {
    font-family: 'Poppins', sans-serif !important;
    background-color:#23272a;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    border-top: 6px #AD91FF solid !important;
    font-size: 36px;
}

.heading {
    padding: 160px 50px !important;
    color: #fff !important;
    background-image: url("../assets/wavy-purple-by-nouridio.svg") !important;
    background-position: bottom !important;
    background-size: 300% !important;
    background-repeat: no-repeat !important;
}

.title {
    line-height: 90px !important;
    margin-bottom: -2px !important;
    font-size: 66px !important;
    border-color: #23272a;
    border-radius: 6px;
}

.page_end {
    background-image: url("../assets/wavy-light-by-nouridio.svg") !important;
    background-position: bottom !important;
    background-size: 200% !important;
    background-repeat: no-repeat !important;
}

.footer {
    text-align: center !important;
    padding: 5px 6px !important;
    color: #ecf2ff;
    padding: 30px 30px !important
}

.footer .nouridio {
    font-family: 'Montserrat' !important;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 16px !important;
    line-height: 5px !important;
    letter-spacing: 0.15em !important;
    font-variant: small-caps !important;
}

.footer .nouridio a {
    color: #AD91FF !important;
    text-decoration: none !important;
}


input[id="video-link"] {
  background-color: #202225;
  border-color: #23272a;
  border-radius: 6px;
  width: 1250px;
  height: 50px;
  padding: 10px;
  color: white;
  font-size: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


button[id="submit-button"] {
  background-image: url("../assets/wavy-purple-by-nouridio.svg") !important;
  color: black;
  border-radius: 5px;
  font-size: 16px;
}

video-container[id="video-container"] {
    border-radius: 5px;
    border-color: darkgrey;
}

.video-container {
  position: relative;
  z-index: 2;
}
